version: '3.8'
services:
  earthworm:
    image: cwadayi/earthworm_ubuntu22.04_eew:v1
    container_name: earthworm
    volumes:
      - ./:/workspace
    ipc: host
    network_mode: host
    command: bash -c "source /opt/earthworm/ew_linux.bash && startstop"
    stdin_open: true
    tty: true
  backend:
    image: seisblue/eew
    container_name: backend
    volumes:
      - ./:/workspace
    ipc: host
    network_mode: host
    command: ["uvicorn", "eew_backend:app", "--host", "0.0.0.0", "--port", "5001"]
    ports:
      - "5001:5001"
    depends_on:
      - earthworm
  frontend:
    image: seisblue/eew
    container_name: frontend
    volumes:
      - ./:/workspace
    ipc: host
    network_mode: host
    working_dir: /workspace/frontend
    command: ["/usr/bin/pnpm", "run", "dev", "--host"]