services:
  redis:
    image: redis:7-alpine
    container_name: redis
    command: redis-server --save "" --appendonly no
    network_mode: host
  reader:
    image: seisblue/eew
    container_name: reader
    volumes:
      - ./:/workspace
    ipc: host
    network_mode: host
    command: bash -c "sleep 10 && /usr/local/bin/python /workspace/reader_pyew_to_redis.py -e jimmy"
    restart: on-failure
    depends_on:
      - earthworm
      - redis
  backend:
    image: seisblue/eew
    container_name: backend
    volumes:
      - ./:/workspace
    ipc: host
    network_mode: host
    command: ["/usr/local/bin/python", "/workspace/redis_fastapi_backend.py"]
    depends_on:
      - redis
  frontend:
    image: seisblue/eew
    container_name: frontend
    volumes:
      - ./:/workspace
    ipc: host
    network_mode: host
    working_dir: /workspace/frontend
    command: ["/usr/bin/pnpm", "run", "dev", "--host"]
  earthworm:
    image: seisblue/earthworm
    container_name: earthworm
    volumes:
      - ./:/workspace
      - ./params:/opt/earthworm/run/params
      - ./wavefile:/opt/earthworm/wavefile:ro
    ipc: host
    network_mode: host
    command: bash -c "source /opt/earthworm/run/params/ew_linux.bash && startstop"
    stdin_open: true
    tty: true
#  earthworm:
#    image: cwadayi/earthworm_ubuntu22.04_eew:v1
#    container_name: earthworm
#    ipc: host
#    network_mode: host
#    command: bash -c "source /opt/earthworm/ew_linux.bash && startstop"
#    stdin_open: true
#    tty: true